body, html {
    margin: 0px;
    padding: 0px;
}

.container {
    text-align: center;
    align-content: center;
    position: absolute;
    align-items: center ;
    background-image: linear-gradient(180deg, #ffccbd, #bfffbd);
    height: 100vh;
    width: 100%;
    display: flex;
    flex-direction: column;
}

h1 {
    margin: 0px;
}

.header {
    display: flex;
    align-items: center;
    justify-content: center;
    font-weight: bold;
    background: #ffccbdd5;
    height: 50px;
    width: 100%;
}

#library {
    display: flex;
}

#addBook {
    background-image: linear-gradient(90deg, #fffacf50, #fffacf, #fffacf50);
    width: 400px;
    padding: 5px;
    margin-top: 10px;
    border-radius: 5%;
}

#addBtn {
    font-size: 17px;
    font-weight: bold;
    background: #ffccbd;
    width: 90px;
    height: 25px;
    border: 1px solid black;
    border-radius: 5%;
}

#bookHolder {
    margin: 5px 2px 5px 2px;
    border-radius: 3%;
    padding: 2px;
    border: 1px solid black;
    background: #bdfff9a9;
}